<%- include("../partials/header") %>

<div class="row">
  <div class="col-md-3">
    <img class="img-fluid" src="<%= user.avatar %> " alt="" />
    <h2><%= user.firstName + " " + user.lastName %></h2>
    <p>(<a href="mailto:<%= user.email %>"><%= user.email %></a>)</p>
    <hr />
  </div>
  <div class="col-md-9">
    <h3><%= user.username %>'s campgrounds</h3>
    <div class="row">
      <% campgrounds.forEach(function(campground) { %>
      <div class="col-lg-3 col-sm-6">
        <div class="card text-center">
          <img src="<%= campground.image %>" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title"><%= campground.name %></h5>
            <a
              class="btn btn-primary"
              href="/campgrounds/<%= campground._id %> "
              >More Info</a
            >
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</div>

<%- include("../partials/footer") %>
